<html ng-app="APP">
<head>
  <title>Pause Analyzer</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
  <!-- http://regexr.com -->
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="./css/main-style.css">
  <script src="./js/app.js"></script>
</head>
<body ng-controller="addSlashCtrl">

  <h1 class='title'>{{current_sample_sentence == ppap_sentence ? "PPAP" : "Pause"}} Analizer</h1>

  <div class="content">

    <div>
      <div class="form-group form-inline-group">
        <label for="sampleSentences" class="control-label">Sample sentences</label>
          <select ng-model='current_sample_sentence' ng-options="sentence.name for sentence in sample_sentences" ng-change="reflectSampleSentence()" class="form-control" id="sampleSentences">
          </select>
      </div>

      <div class="form-group">
        <label for="plainTex">Plain Text</label>
        <textarea ng-model="plainText" placeholder="Input your text" id="plainText" class="form-control plain_text" rows="10"></textarea>
      </div>

      <div class="text-center" ng-if="current_sample_sentence == ppap_sentence">
        <!-- PPAP -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0E00Zuayv9Q?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>

      <label for="analyzedText">Text with slashs</label>
      <p ng-bind-html="analizedText()" class="analized_area panel panel-default" id="analyzedText"></p>

    </div>


    <label for="rulesTable">Rule Table</label>
    <table class="table rules_table" id="rulesTable">
      <tr>
        <td><span class='slash3'>///</span></td><td><code>.</code>, <code>!</code>, <code>?</code></td>
      </tr>
      <tr>
        <td><span class='slash2'>//</span></td><td><code>,</code>, <code>:</code>, <code>;</code></td>
      </tr>
      <tr>
        <td><span class='slash1'>/</span></td><td>conjunctions, transitions</td>
      </tr>
    </table>
  </div>

</body>
</html>
